.Code {
    border: 1px solid var(--primary-color);
    padding: 20px;
    position: relative;
    background: var(--code-bg);
    overflow: auto;
    margin: 10px auto;
    color: var(--inverted-bg-color);
}

.button {
    position: absolute;
    right: 10px;
    top: 10px;
}

.copyIcon path {
    stroke: var(--inverted-bg-color);
}
