.app_red_theme {
    --bg-color: #fbf8f4;
    --inverted-bg-color: #e59a28;
    --primary-color: #e59a28;
    --secondary-color: #fbf8f4;
    --inverted-primary-color: #cc2819;
    --inverted-secondary-color: #e59a28;
}
