.app_red_theme {
    --bg-color: #FBF8F4;
    --inverted-bg-color: #e59a28;
    --primary-color: #e59a28;
    --secondary-color: #FBF8F4;
    --inverted-primary-color: #CC2819;
    --inverted-secondary-color: #e59a28;
}
